    <article class="post">
      <div class="title">
        <a href="/post/{{title}}">{{title}}</a>
        <p>Posted On: {{format_date created_at}}</p>
        <p>{{post_text}}</p>
      </div>
      <div class="meta">
         <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>